@mixin centre($axis: "both") {
    position: absolute;
    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        white-space: nowrap;
    }
    > * {
        display: inline-block;
        white-space: normal;
    }
    @if $axis == "x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        &:before {
            text-align: center;
        }
    }
    @if $axis == "y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        vertical-align: middle;
        &:before {
            vertical-align: middle;
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
        }
    }
    @if $axis == "both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        vertical-align: middle;
        text-align: center;
    }
}

.center-x {
    @include centre(x);
}

.center-y {
    @include centre(y);
}

.center-xy {
    @include centre;
}

body {
    background-color: #303443;
    color: floralwhite;
}

h1 {
    font-weight: bold;
    font-size: 46px;
}
